        * {
          font-family: courier, sans-serif !important;
        }
       
        h2 {
          padding-bottom: 20px;
        }

        a {
          color: inherit;}
          a:hover {
            color: white;
            cursor: pointer;}
          a:focus {
            color: white;}
            a.top-nav-list:visited {
              color: black;}
            a.bottom-nav:visited {
              color: white;}

        .bottom-nav {
        	background: #712D21;
        	color: white;
          text-align: center;
        }



        h5.bottom-nav-header {
        	padding-top: 10px;
        }

        .profile-top-nav {
          height: 50px;
          font-size: 14px;
          z-index: 1;
          position: fixed;
          padding-top: 10px;
          padding-left: 10px;
        }

        .top-nav-list {
          list-style-type: none;
          text-decoration: none;
          color: black;
        }

        .myzerly-logo {
          max-height: 200px;
          margin-left: -50px;
          margin-bottom: -25px;}
          .myzerly-logo:hover {
            cursor: pointer;
          }

        header {
          background: url(../img/background1.svg) repeat 0 0;
        }

        #projects {
          margin-left: 10%;
        }

        .hero {
          padding: 2.85714rem 0;
          padding-bottom: 4.28571rem;
        }

        .title-about-me {
          color: white;
          text-align: center;
        }

        .portfolio-thumbs {
          margin-right: 10%;
        }
        
        .floor {
          height: 400px;
        }

        @media (min-width: 400px) {
          .blurb-about-me {
            margin-left: 5%;
            margin-right: 5%;
          }
        }

        @media (min-width: 800px) {
          .blurb-about-me {
            margin-left: 10%;
            margin-right: 10%;
          }
        }
          
        
