        * {
          font-family: courier, sans-serif !important;
        }

        h2 {
          padding-bottom: 20px;
        }

        .bottom-nav {
        	background: black;
        	color: white;
          text-align: center;
        }

        h5.bottom-nav-header {
        	padding-top: 10px;
        }

        .profile-top-nav {
          height: 50px;
          font-size: 14px;
          background-color: #F3F3F4;
          z-index: 1;
          text-decoration: none;
          display: inline-block;
        }

        .pirate-icon {
          
        }

        /*header {
          background-image: url(../img/LOSbackground.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: auto;
          width: 100%;
        }*/

        .panel {
          border: 0px;
          margin-bottom: 20%;
        }

        .title-about-me {
          color: white;
        }
        
        @media (min-width: 400px) {
          .blurb-about-me {
            margin-left: 5%;
            margin-right: 5%;
          }
          .pirate-icon {
            height: 50px;
            width: 50px;
          }
          /*.profile-top-nav {
            font-size: 14px;
          }*/
        }

        @media (min-width: 800px) {
          .blurb-about-me {
            margin-left: 10%;
            margin-right: 10%;
          }
          .pirate-icon {
            height: 50px;
            width: 50px;
          }
        }
          
        
